.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
doc/wiring.pptx
builds
Fingerprint_doorbell/Fingerprint_doorbell-backups
fp-info-cache
~*
*.drl
*.gbr
*.gbrjob
*.zip
